﻿@{
}

    <div class="input-group mb-3 space">
        <div class="input-group-append">
            <span class="input-group-text" id="query-result">34</span>
        </div>
        <input id="query" type="text" class="form-control" placeholder="2+4*8">
    </div>


      

